<div class="d-flex align-items-stretch"style="height: 100vh; margin-top: -60px; padding-top: 60px; border-top: 1px #ddd solid;">
  <div id="sidebar" style="width: 400px">
    <%= render "sidebar", friends: @friends %>
  </div>
  <div class="flex-grow-1" style="border-left: 1px #ddd solid;">
    <div class="d-flex align-items-center justify-content-center" style="height: 100%; color: #777;">
      Please select a friend on the left to chat
    </div>
  </div>
</div>
<%= render "online" %>
