<%= render "timelines/info" %>
<div class="container" style="margin-top: 15px;">
  <% if @friends.present? %>
    <% @friends.each do |friend| %>
      <%= render "timelines/friend", friend: friend %>
    <% end %>
  <% end %>
</div>
